body,
p,
ul {
	margin: 0;
	padding: 0;
}

.SkipLinks {
	position: absolute;
	top: -19999px;
}

.SkipLinks li {
	display: inline;
}

.SkipLinks:focus-within {
	top: 0;
}

.Description {
	display: flex;
}

.Description-image {
	order: -1;
}

.ScreenReaderOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
